*~
.RData
.project
one.fas
test/
two.fas
Dmel_PGRP_genes.maker_genes_diaci1.1_proteins.eval0.1.wd2.out
test.0001.xls
test.nonohits.0001.xls
Atum.faa
Atum.faa.hist.pdf
Atum.faa.len_summary
Atum.faa.R.out
Atum.faa-seqlencurve.Rout
badgenes.txt
blastn.1.out
blastn.1.out.xls
core.NC_012985.faa
dummy.fasta
failed.core.NC_012985.faa
LamPW_SP-pseudo.fasta
Las-genes_for_removal.tab
mega.qryLSO_dbLAS.blastn.out
mega.qryLSO_dbLAS.blastn.out.gff
mod.LamPW_SP-pseudo.gff.sorted
NanLeng_wolbachia_contigs1.fa
NanLeng_wolbachia_contigs1.fa.hist.pdf
NanLeng_wolbachia_contigs1.fa.len_summary
NanLeng_wolbachia_contigs1.fa.R.out
NanLeng_wolbachia_contigs1.fa-seqlencurve.R
NanLeng_wolbachia_contigs1.fa-seqlencurve.Rout
NC_012985.fna
NC_012985.gff
NC_012985.intergenic.translated.faa
NC_012985.translated.faa
nohits_CDD_2.25thresh9.0.e1.blast.out
nohits_CDD_2.25thresh9.0.e1.blast.out.xls
no_pred_cull20.core.blastp.nr.eval-5.out
out
piden80_cov80.NoNs.m2.abcs.asmbled_cbinhits.e-10.out
piden80_cov80.NoNs.m2.abcs.asmbled_cbinhits.e-10.out.xls
refseq.LamPW_SP-pseudo.fasta
Rhizobiales.GIlist
sitrus_proteins.fas
sorted.dummy.fasta
temp.GIlist
trimmed.NC_012985.gff
uniprot.reviewed.above100x.eval0.1.wd2.out
uniprot.reviewed.above100x.eval0.1.wd2.out.xls
wACP3_allcontigs.cap3.m2.asmbled_seqhits.e-10.out
wACP3_allcontigs.cap3.m2.asmbled_seqhits.e-10.out.xls
wDi.fas
wDi.fas.agp
wDi.fas.fsa
wDi.fas.fsa.seqstat
gxpsy_psygenes.blastn.out.0.0.copy.xls
gxpsy_psygenes.blastn.out.xls
gxpsy_psygenes.blastn.out
fastq_guess-encoding.py
